<a href="https://colab.research.google.com/github/gdebasish11/PySpark_ML/blob/main/PySpark_Mlib_Demo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Next, we will install Apache Spark 3.0.1 with Hadoop 2.7
#!wget -q https://www-us.apache.org/dist/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz

# install spark (change the version number if needed)
!wget -q https://archive.apache.org/dist/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 41 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 53.1 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=d447dd15216f51d261845cfdd89693fd19de98d32242cae6de8a7a2ed896c74d
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!pip install pyspark==3.0.1 py4j==0.10.9

In [ ]:
##import findspark
#findspark.init()
#from pyspark.sql import SparkSession
#spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local[2]")\
        .appName('PySpark_MLLIB_Demo')\
        .getOrCreate()

# where the '*' represents all the cores of the CPU.
##Craete sparkcontext from spark session
sc=spark.sparkContext

In [ ]:
# Word Count using Spark
text_file = sc.textFile("/content/drive/MyDrive/Story.txt")

counts=text_file.flatMap(lambda line:line.split(" "))\
                .map(lambda s:(s,1))\
                .reduceByKey(lambda x,y:x+y)
counts.collect()

[('of', 30),
 ('21st', 1),
 ('India', 5),
 ('is', 8),
 ('only', 1),
 ('country', 1),
 ('have', 5),
 ('both', 2),
 ('wild', 1),
 ('lions', 15),
 ('tigers,', 2),
 ('Though', 1),
 ('do', 1),
 ('share', 1),
 ('territory,', 1),
 ('in', 17),
 ('past,[7][13][27]', 1),
 ('there', 4),
 ('project', 1),
 ('below', 1),
 ('meeting', 1),
 ('', 3),
 ('The', 3),
 ('possibility', 1),
 ('raised', 2),
 ('relation', 1),
 ("India's", 1),
 ('was', 7),
 ('Gir', 2),
 ('Forest', 2),
 ('State', 1),
 ('reserve', 1),
 ('considered', 3),
 ('lion,', 3),
 ('Pradesh,[28]', 1),
 ('before', 5),
 ('2017.[30][31]', 1),
 ('reported', 1),
 ('came', 1),
 ('Ranthambore', 1),
 ('National', 1),
 ('co-presence', 1),
 ('would', 6),
 ('clashes".[32]', 1),
 ('At', 1),
 ('American', 1),
 ('Craig', 2),
 ('his', 1),
 ('at', 1),
 ('University', 1),
 ('Minnesota', 1),
 ('group', 2),
 ('three', 1),
 ('clear', 1),
 ('tiger', 5),
 ('pack', 1),
 ('four', 1),
 ('females)', 1),
 ('similar', 2),
 ('despite', 1),
 ('latter', 1),
 ('height.', 1),
 ('Coalitions', 1),
 ('fight', 2),
 ('as', 9),
 ('against', 1),
 ('he', 2),
 ('may', 2),
 ('an', 3),
 ('one-on-one', 1),
 ('encounter,', 1),
 ('but', 2),
 ('additional', 1),
 ('fighting', 3),
 ('mane', 1),
 ('perhaps', 1),
 ('lion', 1),
 ('style', 1),
 ('mane.', 1),
 ('Despite', 1),
 ('this,', 1),
 ('opinion', 2),
 ('area', 1),
 ('intact', 1),
 ('groups', 1),
 ('rather', 1),
 ('than', 1),
 ('individuals.[7]', 1),
 ('habitats', 1),
 ('Indian', 5),
 ('are', 4),
 ('means', 1),
 ('live', 1),
 ('conditions', 1),
 ('these', 1),
 ('social', 1),
 ('like', 2),
 ('African', 1),
 ('form', 1),
 ('whereas', 1),
 ('Ranthambhore', 1),
 ('Sariska', 1),
 ('Kuno-Palpur', 1),
 ('ecoregion', 1),
 ('Khathiar–Gir', 1),
 ('deciduous', 1),
 ('2019,', 1),
 ('Pradesh', 1),
 ('apparently', 1),
 ('Forest,', 1),
 ('potential', 1),
 ('habit', 1),
 ('(1939)', 1),
 ('played', 2),
 ('near-extinction', 2),
 ('dismissed', 1),
 ('this', 1),
 ("'fanciful'.", 1),
 ('According', 1),
 ('evidence', 1),
 ('Subcontinent', 1),
 ('lions.', 1),
 ('likely', 2),
 ('entered', 2),
 ('eastern', 1),
 ('end', 1),
 ('Himalayas,', 1),
 ('started', 1),
 ('area,', 1),
 ('River.', 1),
 ('Because', 1),
 ('that,', 1),
 ('presence', 2),
 ('lions,', 1),
 ('reached', 1),
 ('reach.', 1),
 ('However,', 1),
 ('stop', 1),
 ('there,', 1),
 ('place,', 1),
 ('said', 1),
 ('unlikely', 2),
 ('role,', 1),
 ('significant', 1),
 ('subordinate,', 1),
 ('responsible', 1),
 ('it,[13]', 1),
 ('decline', 1),
 ("tigers'", 1),
 ('numbers.As', 1),
 ('such,', 1),
 ('thought', 1),
 ('them', 1),
 ('occurred,', 1),
 ('even', 1),
 ('met,', 1),
 ('chance', 2),
 ('survival', 1),
 ('good', 2),
 ('chances', 1),
 ("other's.[13]", 1),
 ('As', 1),
 ('the', 46),
 ('century,', 1),
 ('to', 17),
 ('and', 18),
 ('specifically', 1),
 ('Asiatic', 3),
 ('Bengal', 4),
 ('tigers.[2][26]', 1),
 ('they', 7),
 ('not', 3),
 ('same', 1),
 ('did', 3),
 ('a', 16),
 ('mentioned', 2),
 ('that', 23),
 ('could', 2),
 ('lead', 1),
 ('their', 3),
 ('wild.[28][29]', 1),
 ('conflict', 1),
 ('between', 2),
 ('tigers', 11),
 ('had', 2),
 ('been', 1),
 ('Lion', 1),
 ('Reintroduction', 1),
 ('Project,', 1),
 ('which', 3),
 ('meant', 1),
 ('introduce', 1),
 ('Gujarat,', 2),
 ('another', 1),
 ('be', 2),
 ('within', 1),
 ('former', 1),
 ('range', 1),
 ('Kuno', 2),
 ('Wildlife', 1),
 ('Sanctuary', 1),
 ('Madhya', 2),
 ('December', 1),
 ('contain', 1),
 ('some', 2),
 ('from', 4),
 ('Park,', 1),
 ('including', 1),
 ('one', 1),
 ('called', 1),
 ('.Concerns', 1),
 ('were', 3),
 ('"trigger', 1),
 ('frequent', 1),
 ('same,', 1),
 ('biologist', 1),
 ('Packer', 2),
 ('students', 1),
 ('(two', 2),
 ('males)', 1),
 ('advantage', 5),
 ('over', 2),
 ('lionesses', 1),
 ('tigress,', 1),
 ('general', 1),
 ('weight', 1),
 ('or', 3),
 ('male', 2),
 ('usually', 2),
 ('territorial', 1),
 ('rivals,', 1),
 ('so', 2),
 ('mentions', 1),
 ('also', 1),
 ('experience', 1),
 ('confer', 1),
 ('lone', 1),
 ('since', 1),
 ("tiger's", 1),
 ('evolved', 1),
 ('absence', 1),
 ('all', 2),
 ('for', 3),
 ('survive', 1),
 ('with', 2),
 ('moved', 1),
 ('Although', 1),
 ('favour', 1),
 ('solitary', 1),
 ('hunters', 1),
 ('prey,[14]', 1),
 ('relatives,[33]', 1),
 ('groups,', 1),
 ('solitary.[7]', 1),
 ('reserves', 1),
 ('Rajasthan,', 1),
 ('located', 1),
 ('dry', 1),
 ('forests.[34][35]', 1),
 ('In', 1),
 ('early', 1),
 ('trekked', 1),
 ('dying', 1),
 ('starvation.[36]', 1),
 ('Otherwise,', 1),
 ('Gujarat', 1),
 ("Dangs'", 1),
 ('tiger.[25]', 1),
 ('Reginald', 1),
 ('Innes', 1),
 ('Pocock', 3),
 ('people', 1),
 ('role', 1),
 ('view', 1),
 ('him,', 1),
 ('inhabited', 1),
 ('Northern', 2),
 ('through', 1),
 ('Burma,', 1),
 ('spreading', 1),
 ('throughout', 2),
 ('Balochistan', 1),
 ('Persia,', 1),
 ('spread', 3),
 ('places', 1),
 ('Nerbudda', 1),
 ('man', 2),
 ('limit', 1),
 ('parts', 1),
 ('first', 1),
 ('it', 2),
 ('rather,', 1),
 ('case', 1),
 ('serious', 1),
 ('competition', 1),
 ('regularly', 1),
 ('if', 2),
 ('choose', 1),
 ('avoid', 1),
 ('each', 2),
 ('other,', 1),
 ('success,', 1),
 ('clash,', 1)]

In [ ]:
# Reading CSV file

csv_file = '/content/sample_data/california_housing_train.csv'
df = spark.read.csv(csv_file,header=True,inferSchema=True)

In [ ]:
df.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [ ]:
df.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
df.dtypes

[('longitude', 'double'),
 ('latitude', 'double'),
 ('housing_median_age', 'double'),
 ('total_rooms', 'double'),
 ('total_bedrooms', 'double'),
 ('population', 'double'),
 ('households', 'double'),
 ('median_income', 'double'),
 ('median_house_value', 'double')]

In [ ]:
df.describe().show()

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

**Add columns**

In [ ]:
data=df.withColumn("new_total_rooms",df['total_rooms'].cast('Integer'))

In [ ]:
data=df.withColumn("new_total_bedrooms",(df['total_bedrooms'].cast('Integer'))+100)

In [ ]:
data.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|new_total_bedrooms|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|              1383|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|              2001|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|               274|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|               437|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|               426|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 5 rows

**Update column**

In [ ]:
data=data.withColumnRenamed('new_total_bedrooms','total_bedrooms_100')

In [ ]:
data.show(3)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|total_bedrooms_100|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|              1383|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|              2001|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|               274|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+------------------+
only showing top 3 rows

**Delete Column**

In [ ]:
data=data.drop('total_bedrooms_100')

In [ ]:
## total record and columns in dataframe
data.count(),len(df.columns)

(17000, 9)

In [ ]:
data.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

**##Filter data**

In [ ]:

from pyspark.sql.functions import col, lit
data.filter(col('median_house_value')>70000).show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [ ]:
data.filter((col('housing_median_age')>20 )& (col('median_house_value')>70000)).show(4)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 4 rows

**##When**

In [ ]:
from pyspark.sql.functions import when
data=data.withColumn("is_greater", when(col("housing_median_age") >=20.0 ,lit("Met"))
                              .when(col("housing_median_age") >=29.0 ,lit("Half Met"))
                              .otherwise(lit("not met")))
data.show(4)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|is_greater|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|   not met|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|   not met|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|   not met|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|   not met|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
only showing top 4 rows

In [ ]:
type(data)

pyspark.sql.dataframe.DataFrame

In [ ]:
data.show(2)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|is_greater|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|   not met|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|   not met|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
only showing top 2 rows

In [ ]:
## Where and filter
data.where(data['is_greater']=='Met').show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|is_greater|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|       Met|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|       Met|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|       Met|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|       Met|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|       Met|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
only showing top 5 rows

##Group By

In [ ]:
data.groupby('is_greater').avg().show()

+----------+------------------+------------------+-----------------------+------------------+-------------------+------------------+-----------------+------------------+-----------------------+
|is_greater|    avg(longitude)|     avg(latitude)|avg(housing_median_age)|  avg(total_rooms)|avg(total_bedrooms)|   avg(population)|  avg(households)|avg(median_income)|avg(median_house_value)|
+----------+------------------+------------------+-----------------------+------------------+-------------------+------------------+-----------------+------------------+-----------------------+
|   not met|-119.4165395772897|35.747101118938964|     13.313510153336097|3689.1947782842935|  714.5857853294654|1835.9639452963117|649.2818068794032| 4.184790924160781|      193819.8128885205|
|       Met|-119.6198143584673| 35.57691062920978|      34.64498110727781|2229.1967307376376| 469.96821094135043|1268.4733859043863|442.5282569410218|3.7641717348447616|     212645.07088877936|
+----------+------------------+------------------+-----------------------+------------------+-------------------+------------------+-----------------+------------------+-----------------------+

# Register the DataFrame as a SQL temporary view

In [ ]:
data.createOrReplaceTempView("HousingPrice")

In [ ]:
sqlDf=spark.sql("Select * from HousingPrice")
sqlDf.show(3)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|is_greater|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|   not met|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|   not met|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|   not met|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+----------+
only showing top 3 rows